@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition: all 0.3s linear;
  --clr-grey-special: #eae6eb;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

body {
  background-color: #f5f8fa;
  font-family: Montserrat;
}

.image_wrapper {
  margin: 0px 15px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.image_wrapper img {
  width: 70%;
}

.app__bg {
  position: relative;
  height: 100vh; /* Make the container take the full viewport height */
  background-image: url("./assets/background25.jpg");
  background-size: cover;
  background-position: center;
}

.section__bg {
  position: relative;
  height: 100vh; /* Make the container take the full viewport height */
  background-image: url("./assets/service.jpg");
  background-size: cover;
  background-position: center;
}

.contact__bg {
  position: relative;
  height: 45vh; /* Make the container take the full viewport height */
  background-image: url("./assets/service.jpg");
  background-size: cover;
  background-position: center;
}

.link:hover {
  border-bottom: 3px solid hsl(211, 53%, 56%);
  color: hsl(211, 53%, 56%);
}

.section {
  width: 94%;
  margin: 0 auto;
}
.dfm {
  position: relative;
  height: 45vh; /* Make the container take the full viewport height */
  background-image: url("./assets/dfm.webp");
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1400px) {
  .section {
    width: 89%;
  }
  .services-hover-content {
    width: 80%;
  }
}
@media screen and (max-width: 1300px) {
  .app__bg {
    height: 80vh;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 600px) {
  .app__bg {
    height: 85vh;
    background-size: cover;
    background-position: center;
  }
  .section__bg {
    height: 80vh;
    background-size: cover;
    background-position: center;
  }

  .contact__bg {
    height: 30vh;
    background-size: cover;
    background-position: center;
  }

  .section {
    width: 95%;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s
    both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* slider css start */
article {
  position: absolute;
  top: 0;
  left: 0;
  width: 98vw;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

.section-center {
  margin: 0 auto;
  width: 100vw;
  /* have to have a height */
  height: 625px;
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 10px 10px;
}

/* slider css end */
/* team slider css start */
main {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
  padding-top: 20px;
}
main.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
main.lastSlide {
  transform: translateX(-100%);
}
main.nextSlide {
  transform: translateX(100%);
}

.section-center-team {
  margin: 0 auto;
  width: 100vw;
  /* have to have a height */
  height: 300px;
  position: relative;
  display: flex;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .section-center-team {
    height: 370px;
  }
}

/* team slider css end */

/* footer list color */
.marker::marker {
  color: hsl(51, 99%, 54%);
}
.marker_yellow::marker {
  color: hsl(211, 42%, 28%);
}

/* service */

.services-hover-content {
  display: block;
  position: absolute;
  top: 85px;
  left: 61%;
  transform: translateX(-62%);
  width: max-content;
  height: max-content;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.training-hover-content {
  display: block;
  position: absolute;
  top: 85px;
  left: 60%;
  transform: translateX(-10%);
  width: max-content;
  height: max-content;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.question {
  border: 2px solid var(--clr-grey-special);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}

.btn {
  background: transparent;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  /* background: var(--clr-grey-special); */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: hsl(211, 53%, 56%);
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}

/*cloud design */
.slick-slide > div {
  margin: 0 10px;
}
